div.display {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: right;
    font-size: 24px;
    border-radius: 10px;
}
div.buttons {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
button {
    width: 50px;
    height: 50px;
    font-size: 20px;
}
